# Classification - K Nearest Neighbors

In [2]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import neighbors

df_census = pd.read_csv('census1994.csv')
print(df_census);

             Date  Age          WorkClass  fnlwgt      education  \
0       3/20/1994   39          State-gov   77516      Bachelors
1       1/14/1994   50   Self-emp-not-inc   83311      Bachelors
2       8/14/1994   38            Private  215646        HS-grad
3       3/17/1994   53            Private  234721           11th
4       9/20/1994   28            Private  338409      Bachelors
5      11/28/1994   37            Private  284582        Masters
6        3/2/1994   49            Private  160187            9th
7      11/27/1994   52   Self-emp-not-inc  209642        HS-grad
8      12/25/1994   31            Private   45781        Masters
9      10/10/1994   42            Private  159449      Bachelors
10     10/29/1994   37            Private  280464   Some-college
11     11/10/1994   30          State-gov  141297      Bachelors
12       1/4/1994   23            Private  122272      Bachelors
13      2/15/1994   32            Private  205019     Assoc-acdm
14       8/1/1994   40            Private  121772      Assoc-voc
15       9/1/1994   34            Private  245487        7th-8th
16      5/15/1994   25   Self-emp-not-inc  176756        HS-grad
17       1/5/1994   32            Private  186824        HS-grad
18      4/24/1994   38            Private   28887           11th
19      6/13/1994   43   Self-emp-not-inc  292175        Masters
20      2/19/1994   40            Private  193524      Doctorate
21      9/19/1994   54            Private  302146        HS-grad
22     10/22/1994   35        Federal-gov   76845            9th
23       1/4/1994   43            Private  117037           11th
24      8/10/1994   59            Private  109015        HS-grad
25      1/15/1994   56          Local-gov  216851      Bachelors
26      4/20/1994   19            Private  168294        HS-grad
27     12/25/1994   54                  ?  180211   Some-college
28     10/25/1994   39            Private  367260        HS-grad
29      3/18/1994   49            Private  193366        HS-grad
...           ...  ...                ...     ...            ...
32531    1/1/1994   30                  ?   33811      Bachelors
32532   6/25/1994   34            Private  204461      Doctorate
32533    5/4/1994   54            Private  337992      Bachelors
32534   4/29/1994   37            Private  179137   Some-college
32535   9/15/1994   22            Private  325033           12th
32536   10/3/1994   34            Private  160216      Bachelors
32537   5/19/1994   30            Private  345898        HS-grad
32538    6/9/1994   38            Private  139180      Bachelors
32539   11/7/1994   71                  ?  287372      Doctorate
32540   12/8/1994   45          State-gov  252208        HS-grad
32541   6/27/1994   41                  ?  202822        HS-grad
32542  12/14/1994   72                  ?  129912        HS-grad
32543   8/26/1994   45          Local-gov  119199     Assoc-acdm
32544  10/14/1994   31            Private  199655        Masters
32545   12/1/1994   39          Local-gov  111499     Assoc-acdm
32546   6/24/1994   37            Private  198216     Assoc-acdm
32547   11/4/1994   43            Private  260761        HS-grad
32548  10/27/1994   65   Self-emp-not-inc   99359    Prof-school
32549   8/12/1994   43          State-gov  255835   Some-college
32550   4/10/1994   43   Self-emp-not-inc   27242   Some-college
32551   2/28/1994   32            Private   34066           10th
32552   6/29/1994   43            Private   84661      Assoc-voc
32553   3/10/1994   32            Private  116138        Masters
32554   5/23/1994   53            Private  321865        Masters
32555   3/15/1994   22            Private  310152   Some-college
32556  12/29/1994   27            Private  257302     Assoc-acdm
32557   1/30/1994   40            Private  154374        HS-grad
32558   9/26/1994   58            Private  151910        HS-grad
32559    4/5/1994   22            Private  201490        HS-grad
32560    3/5/1994   52       Self-emp-inc  287927        HS-grad

       education-num          marital-status          occupation  \
0                 13           Never-married        Adm-clerical
1                 13      Married-civ-spouse     Exec-managerial
2                  9                Divorced   Handlers-cleaners
3                  7      Married-civ-spouse   Handlers-cleaners
4                 13      Married-civ-spouse      Prof-specialty
5                 14      Married-civ-spouse     Exec-managerial
6                  5   Married-spouse-absent       Other-service
7                  9      Married-civ-spouse     Exec-managerial
8                 14           Never-married      Prof-specialty
9                 13      Married-civ-spouse     Exec-managerial
10                10      Married-civ-spouse     Exec-managerial
11                13      Married-civ-spouse      Prof-specialty
12                13           Never-married        Adm-clerical
13                12           Never-married               Sales
14                11      Married-civ-spouse        Craft-repair
15                 4      Married-civ-spouse    Transport-moving
16                 9           Never-married     Farming-fishing
17                 9           Never-married   Machine-op-inspct
18                 7      Married-civ-spouse               Sales
19                14                Divorced     Exec-managerial
20                16      Married-civ-spouse      Prof-specialty
21                 9               Separated       Other-service
22                 5      Married-civ-spouse     Farming-fishing
23                 7      Married-civ-spouse    Transport-moving
24                 9                Divorced        Tech-support
25                13      Married-civ-spouse        Tech-support
26                 9           Never-married        Craft-repair
27                10      Married-civ-spouse                   ?
28                 9                Divorced     Exec-managerial
29                 9      Married-civ-spouse        Craft-repair
...              ...                     ...                 ...
32531             13           Never-married                   ?
32532             16      Married-civ-spouse      Prof-specialty
32533             13      Married-civ-spouse     Exec-managerial
32534             10                Divorced        Adm-clerical
32535              8           Never-married     Protective-serv
32536             13           Never-married     Exec-managerial
32537              9           Never-married        Craft-repair
32538             13                Divorced      Prof-specialty
32539             16      Married-civ-spouse                   ?
32540              9               Separated        Adm-clerical
32541              9               Separated                   ?
32542              9      Married-civ-spouse                   ?
32543             12                Divorced      Prof-specialty
32544             14                Divorced       Other-service
32545             12      Married-civ-spouse        Adm-clerical
32546             12                Divorced        Tech-support
32547              9      Married-civ-spouse   Machine-op-inspct
32548             15           Never-married      Prof-specialty
32549             10                Divorced        Adm-clerical
32550             10      Married-civ-spouse        Craft-repair
32551              6      Married-civ-spouse   Handlers-cleaners
32552             11      Married-civ-spouse               Sales
32553             14           Never-married        Tech-support
32554             14      Married-civ-spouse     Exec-managerial
32555             10           Never-married     Protective-serv
32556             12      Married-civ-spouse        Tech-support
32557              9      Married-civ-spouse   Machine-op-inspct
32558              9                 Widowed        Adm-clerical
32559              9           Never-married        Adm-clerical
32560              9      Married-civ-spouse     Exec-managerial

          relationship                 race   gender  capital-gain  \
0        Not-in-family                White     Male          2174
1              Husband                White     Male             0
2        Not-in-family                White     Male             0
3              Husband                Black     Male             0
4                 Wife                Black   Female             0
5                 Wife                White   Female             0
6        Not-in-family                Black   Female             0
7              Husband                White     Male             0
8        Not-in-family                White   Female         14084
9              Husband                White     Male          5178
10             Husband                Black     Male             0
11             Husband   Asian-Pac-Islander     Male             0
12           Own-child                White   Female             0
13       Not-in-family                Black     Male             0
14             Husband   Asian-Pac-Islander     Male             0
15             Husband   Amer-Indian-Eskimo     Male             0
16           Own-child                White     Male             0
17           Unmarried                White     Male             0
18             Husband                White     Male             0
19           Unmarried                White   Female             0
20             Husband                White     Male             0
21           Unmarried                Black   Female             0
22             Husband                Black     Male             0
23             Husband                White     Male             0
24           Unmarried                White   Female             0
25             Husband                White     Male             0
26           Own-child                White     Male             0
27             Husband   Asian-Pac-Islander     Male             0
28       Not-in-family                White     Male             0
29             Husband                White     Male             0
...                ...                  ...      ...           ...
32531    Not-in-family   Asian-Pac-Islander   Female             0
32532          Husband                White     Male             0
32533          Husband   Asian-Pac-Islander     Male             0
32534        Unmarried                White   Female             0
32535        Own-child                Black     Male             0
32536    Not-in-family                White   Female             0
32537    Not-in-family                Black     Male             0
32538        Unmarried                Black   Female         15020
32539          Husband                White     Male             0
32540        Own-child                White   Female             0
32541    Not-in-family                Black   Female             0
32542          Husband                White     Male             0
32543        Unmarried                White   Female             0
32544    Not-in-family                Other   Female             0
32545             Wife                White   Female             0
32546    Not-in-family                White   Female             0
32547          Husband                White     Male             0
32548    Not-in-family                White     Male          1086
32549   Other-relative                White   Female             0
32550          Husband                White     Male             0
32551          Husband   Amer-Indian-Eskimo     Male             0
32552          Husband                White     Male             0
32553    Not-in-family   Asian-Pac-Islander     Male             0
32554          Husband                White     Male             0
32555    Not-in-family                White     Male             0
32556             Wife                White   Female             0
32557          Husband                White     Male             0
32558        Unmarried                White   Female             0
32559        Own-child                White     Male             0
32560             Wife                White   Female         15024

       capital-loss  hours-per-week  native-country   class
0                 0              40   United-States   <=50K
1                 0              13   United-States   <=50K
2                 0              40   United-States   <=50K
3                 0              40   United-States   <=50K
4                 0              40            Cuba   <=50K
5                 0              40   United-States   <=50K
6                 0              16         Jamaica   <=50K
7                 0              45   United-States    >50K
8                 0              50   United-States    >50K
9                 0              40   United-States    >50K
10                0              80   United-States    >50K
11                0              40           India    >50K
12                0              30   United-States   <=50K
13                0              50   United-States   <=50K
14                0              40               ?    >50K
15                0              45          Mexico   <=50K
16                0              35   United-States   <=50K
17                0              40   United-States   <=50K
18                0              50   United-States   <=50K
19                0              45   United-States    >50K
20                0              60   United-States    >50K
21                0              20   United-States   <=50K
22                0              40   United-States   <=50K
23             2042              40   United-States   <=50K
24                0              40   United-States   <=50K
25                0              40   United-States    >50K
26                0              40   United-States   <=50K
27                0              60           South    >50K
28                0              80   United-States   <=50K
29                0              40   United-States   <=50K
...             ...             ...             ...     ...
32531             0              99   United-States   <=50K
32532             0              60   United-States    >50K
32533             0              50           Japan    >50K
32534             0              39   United-States   <=50K
32535             0              35   United-States   <=50K
32536             0              55   United-States    >50K
32537             0              46   United-States   <=50K
32538             0              45   United-States    >50K
32539             0              10   United-States    >50K
32540             0              40   United-States   <=50K
32541             0              32   United-States   <=50K
32542             0              25   United-States   <=50K
32543             0              48   United-States   <=50K
32544             0              30   United-States   <=50K
32545             0              20   United-States    >50K
32546             0              40   United-States   <=50K
32547             0              40          Mexico   <=50K
32548             0              60   United-States   <=50K
32549             0              40   United-States   <=50K
32550             0              50   United-States   <=50K
32551             0              40   United-States   <=50K
32552             0              45   United-States   <=50K
32553             0              11          Taiwan   <=50K
32554             0              40   United-States    >50K
32555             0              40   United-States   <=50K
32556             0              38   United-States   <=50K
32557             0              40   United-States    >50K
32558             0              40   United-States   <=50K
32559             0              20   United-States   <=50K
32560             0              40   United-States    >50K

[32561 rows x 16 columns]

In [3]:
first_five_recs = df_census.head();
print(first_five_recs);

        Date  Age          WorkClass  fnlwgt   education  education-num  \
0  3/20/1994   39          State-gov   77516   Bachelors             13
1  1/14/1994   50   Self-emp-not-inc   83311   Bachelors             13
2  8/14/1994   38            Private  215646     HS-grad              9
3  3/17/1994   53            Private  234721        11th              7
4  9/20/1994   28            Private  338409   Bachelors             13

        marital-status          occupation    relationship    race   gender  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loss  hours-per-week  native-country   class
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

In [4]:
last_five_recs = df_census.tail();
print(last_five_recs);

             Date  Age      WorkClass  fnlwgt    education  education-num  \
32556  12/29/1994   27        Private  257302   Assoc-acdm             12
32557   1/30/1994   40        Private  154374      HS-grad              9
32558   9/26/1994   58        Private  151910      HS-grad              9
32559    4/5/1994   22        Private  201490      HS-grad              9
32560    3/5/1994   52   Self-emp-inc  287927      HS-grad              9

            marital-status          occupation relationship    race   gender  \
32556   Married-civ-spouse        Tech-support         Wife   White   Female
32557   Married-civ-spouse   Machine-op-inspct      Husband   White     Male
32558              Widowed        Adm-clerical    Unmarried   White   Female
32559        Never-married        Adm-clerical    Own-child   White     Male
32560   Married-civ-spouse     Exec-managerial         Wife   White   Female

       capital-gain  capital-loss  hours-per-week  native-country   class
32556             0             0              38   United-States   <=50K
32557             0             0              40   United-States    >50K
32558             0             0              40   United-States   <=50K
32559             0             0              20   United-States   <=50K
32560         15024             0              40   United-States    >50K

In [5]:
for col in df_census.columns: 
    print(col)

Date
Age
WorkClass
fnlwgt
education
education-num
marital-status
occupation
relationship
race
gender
capital-gain
capital-loss
hours-per-week
native-country
class

In [6]:
#Splitting the dataset 70% for training, and 30% for testing the classifier.

df_c = df_census[['Age', 'education-num', 'class']].copy()
df_c['class']=df_c['class'].map({' <=50K': 0, ' >50K': 1, ' <=50K.': 0, ' >50K.': 1})

X = df_c.iloc[:, 0:3];
print(X);
Y = df_c.iloc[:, 0];
print(Y);
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3);
print (X_train);
print (Y_test);

       Age  education-num  class
0       39             13      0
1       50             13      0
2       38              9      0
3       53              7      0
4       28             13      0
5       37             14      0
6       49              5      0
7       52              9      1
8       31             14      1
9       42             13      1
10      37             10      1
11      30             13      1
12      23             13      0
13      32             12      0
14      40             11      1
15      34              4      0
16      25              9      0
17      32              9      0
18      38              7      0
19      43             14      1
20      40             16      1
21      54              9      0
22      35              5      0
23      43              7      0
24      59              9      0
25      56             13      1
26      19              9      0
27      54             10      1
28      39              9      0
29      49              9      0
...    ...            ...    ...
32531   30             13      0
32532   34             16      1
32533   54             13      1
32534   37             10      0
32535   22              8      0
32536   34             13      1
32537   30              9      0
32538   38             13      1
32539   71             16      1
32540   45              9      0
32541   41              9      0
32542   72              9      0
32543   45             12      0
32544   31             14      0
32545   39             12      1
32546   37             12      0
32547   43              9      0
32548   65             15      0
32549   43             10      0
32550   43             10      0
32551   32              6      0
32552   43             11      0
32553   32             14      0
32554   53             14      1
32555   22             10      0
32556   27             12      0
32557   40              9      1
32558   58              9      0
32559   22              9      0
32560   52              9      1

[32561 rows x 3 columns]
0        39
1        50
2        38
3        53
4        28
5        37
6        49
7        52
8        31
9        42
10       37
11       30
12       23
13       32
14       40
15       34
16       25
17       32
18       38
19       43
20       40
21       54
22       35
23       43
24       59
25       56
26       19
27       54
28       39
29       49
         ..
32531    30
32532    34
32533    54
32534    37
32535    22
32536    34
32537    30
32538    38
32539    71
32540    45
32541    41
32542    72
32543    45
32544    31
32545    39
32546    37
32547    43
32548    65
32549    43
32550    43
32551    32
32552    43
32553    32
32554    53
32555    22
32556    27
32557    40
32558    58
32559    22
32560    52
Name: Age, Length: 32561, dtype: int64
       Age  education-num  class
16685   59             10      1
11882   39             11      0
9825    38             10      0
18413   90             13      0
26853   46              9      0
27104   33             10      0
28875   42             10      1
13337   30              9      0
20730   22             10      0
15261   37             13      1
27325   33             11      0
5567    30              9      0
14855   58             16      1
6619    33             10      0
11167   24             11      0
18514   70              4      0
23335   19             10      0
31081   50              3      0
1923    21             10      0
29643   27              9      0
31190   21             10      0
8187    68             11      0
12553   35             10      0
20991   47              7      0
13549   57             15      0
9103    66             10      0
18320   38             13      0
18469   17              6      0
24487   21             10      0
3803    25              9      0
...    ...            ...    ...
25545   39              7      0
683     23             10      0
1466    35             10      0
26852   39              9      0
28716   56              9      0
20088   48              4      1
16298   19             10      0
4066    36              9      0
8450    52              9      0
5832    78             14      0
18515   25             10      0
31827   46             10      0
28635   46              7      0
8389    24              9      0
2252    44             16      1
15509   29              9      0
5099    46             10      1
12565   42             14      1
194     41             13      0
483     41              9      0
30126   28              9      0
10077   58              5      0
27752   52             13      0
2691    64             13      0
9674    64              9      0
9930    33             13      1
4203    55             13      1
11331   23             13      0
30061   33              7      0
31669   51              9      1

[22792 rows x 3 columns]
9194     39
8983     53
1102     39
14708    30
23628    72
11612    47
17904    27
24380    38
16544    30
26263    38
22927    25
23140    44
6530     40
9987     67
23906    49
20285    70
5309     41
1948     29
20920    20
9671     21
10423    59
8631     37
14345    46
21750    21
15108    43
21171    30
5822     35
15783    43
7060     46
31878    61
         ..
26195    48
19916    21
24908    40
18017    26
2783     43
1047     23
9379     25
2664     40
7524     49
6591     33
21027    49
21764    62
30570    25
29864    40
19909    56
3670     31
27877    39
2971     36
23008    59
2790     64
22125    40
736      36
12619    40
27154    39
31082    47
3435     50
10044    42
8556     39
2002     66
15048    20
Name: Age, Length: 9769, dtype: int64

In [7]:
array = df_c.values
X = array[:,0:16]
Y = array[:,2]
test = SelectKBest(score_func=chi2, k=3)
fit = test.fit(X_train, Y_train)
features = fit.transform(X_train)

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [8]:
knn.predict(X_test)[0:5]

array([39, 53, 39, 30, 72], dtype=int64)

In [9]:
knn.score(X_test, Y_test)

0.9915037363087317

In [10]:
knn_cv = KNeighborsClassifier(n_neighbors=3)
cv_scores = cross_val_score(knn_cv, X, Y, cv=5)
print(cv_scores)
mean = np.mean(cv_scores)
print('mean:', mean)

[0.99416552 0.995086   0.99401106 0.99554668 0.99662162]
mean: 0.9950861742777912

In [11]:
knn_cv = KNeighborsClassifier(n_neighbors=5)
cv_scores = cross_val_score(knn_cv, X, Y, cv=5)
print(cv_scores)
mean = np.mean(cv_scores)
print('mean:', mean)

[0.99216951 0.99370393 0.99109337 0.99308968 0.99401106]
mean: 0.9928135083075202

In [15]:
knn_cv = KNeighborsClassifier(n_neighbors=4)
cv_scores = cross_val_score(knn_cv, X, Y, cv=5)
print(cv_scores)
mean = np.mean(cv_scores)
print('mean:', mean)

[0.99155535 0.99324324 0.99047912 0.99355037 0.99401106]
mean: 0.9925678269241145

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

knn2 = neighbors.KNeighborsClassifier()
print('KNN score: %f' % knn2.fit(X_train, Y_train).score(X_test, Y_test))

KNN score: 0.990992

In [17]:
knn.predict(X_test)[0:5]

array([39, 53, 39, 30, 72], dtype=int64)

In [18]:
knn.score(X_test, Y_test)

0.9915037363087317